server:
  port: 8083
  error:
    include-message: always


spring:
  application:
    name: workload-service

  datasource:
    url: jdbc:h2:mem:workload;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

integration:
  jwt:
    secret: "u2VjdXJlU3VwZXJMb25nU3VwZXJTZWNyZXRTdHJpbmcyNTY="
    expiration-minutes: 120

management:
  endpoints:
    web:
      exposure:
        include: health,info
logging:
  pattern:
    console: "%d{HH:mm:ss.SSS} %-5level [%X{transactionId}] %logger{36} - %msg%n"




