server:
  port: 8083
  error:
    include-message: always


spring:
  application:
    name: workload-service

  datasource:
    url: jdbc:h2:mem:workload;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
