version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: gym_crm_postgres
    environment:
      POSTGRES_DB: gym_crm
      POSTGRES_USER: gym_user
      POSTGRES_PASSWORD: 12345
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U gym_user -d gym_crm"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: