spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/gym_crm_dev
    username: gym_user
    password: 12345
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

  liquibase:
    contexts: schema,seed

  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - metrics
          - prometheus
          - env
  metrics:
    tags:
      application: ${spring.application.name}
