spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/gym_crm
    username: gym_user
    password: 12345
    driver-class-name: org.postgresql.Driver
  liquibase:
    contexts: schema,seed

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - metrics
          - prometheus
          - env

