spring:
  application:
    name: gym-crm
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
  liquibase:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
  metrics:
    tags:
      application: ${spring.application.name}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka


