spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate.jdbc.time_zone: UTC

  liquibase:
    enabled: true
    contexts: schema

server:
  port: ${PORT:8080}
  forward-headers-strategy: native
  compression:
    enabled: true
    mime-types: application/json,application/xml,text/html,text/xml,text/plain,text/css,application/javascript

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: "health,info"
  endpoint:
    health:
      show-details: never
  metrics:
    tags:
      application: ${spring.application.name}
